body {
/*    border: 1px dashed green;*/
    width: 61.5em;
    width: 61.5em;
    background-color: #333;
    color: #ccc;
    font-family: Arial;
    font-size: 13px;
    margin: 0 auto;
    line-height: 1.53em;
    overflow-y: scroll;
}

h1 {
    display: block;
    width: 10.54em;
/*    text-align: center;*/
    margin: 0 auto;
    padding-left: 2.5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 22px;
}

#copyPlaceholderValue {
    position: absolute;
    display: overlay;
    color: rgba(255,255,255, 0.8);
    background-color: rgba(60,0,0, 1);
    padding: 0.2em 0.2em 0.2em 0.2em;
    cursor: pointer;
/*    transition: opacity 0.5s ease-in-out;*/
    opacity: 0;
}

#copyPlaceholderValue.fade-out {
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}
#copyPlaceholderValue.fade-in {
   opacity: 1;
   transition: opacity 0.5s ease-in-out;
}

.pclass {
    font-family: Arial;
}

#passwordCheck {
    visibility: hidden;
    font-size: 0.8em;
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 25em;
    height: 15.5em;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8em;
/*    background-color: rgba(0,0,0, 0.9);*/
    background-color: #222;
    border: 1px solid #777;
    color: #FFFFFF.;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 3px;

    }
#checkpwordbutton {
    margin-top: 0.7em;
}

#resetPwordTxt {
    color: #777;
    font-size: 12px;
    margin-top: 0.5em;
    line-height: 1.1em;
}

#passwordSave {
    visibility: hidden;
    font-size: 0.8em;
    position: absolute;
    z-index: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    left: 50%;
    margin-top: 8em;
    transform: translateX(-50%);
    background-color: #222;
    border: 1px solid #777;
    color: #FFFFFF.;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.pclass {
    margin: 0.3em;
}

#savePwordButton {
    margin-top: 0.8em;
}

.x1, .x2, .x3 {
    cursor: pointer;
    font-size: 1.3em;
    position: absolute;
    top: -0.2em;
    right: 0;
    padding: 0.4em 0.2em 0.2em 0.2em;
    width: px;
    height: 70px;
}

#passwordSpec {
    line-height: 1.4em;
    vertical-align: middle;
    position: absolute;
    padding: 3px 2px 2px 5px;
    width: 150px;
    height: 16%;
    background-color: #707070;
    color: #FFFFFF;
    text-align: left;
    z-index: 2;
    display: block;
    top: 33%;
    left: 82%;
    font-size: 11px;
    opacity: 85%;
}

:root {     /*  CREATES THE VARIABLES AS GLOBAL VARIABLES  */
    --pulse-length: 2.5s;
    --pulse-color-1: #222;
    --pulse-color-2: #770000;
}

#accountView {
/*    position: absolute;*/
    float: right;
    display: inline;
    width: 10em;
    border: 0.1em solid #777;
    margin-right: -0.2em;
    margin-top: -0.5em;
    padding: 0.4em 0em 0.4em 0em;
    text-align: center;
    cursor: pointer;
    animation: pulse var(--pulse-length) infinite;
}

@keyframes pulse {
    0% {
        background-color: var(--pulse-color-1);
    }
    50% {
        background-color: var(--pulse-color-2);
    }
    100% {
        background-color: var(--pulse-color-1);
    }
}

#accountViewTxt {
    margin: 0px;
    padding: 0px

}
#openAccountImg {
    z-index: 1;
    position: absolute;
/*    margin-top: 0;*/
/*    margin-right: 0;*/
    margin: -0.3em 0em 0em 3.8em;
}

h3 {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0em -0.2em 0em;
}

#viewAccIcon {
    display: none;
    position: absolute;
    right: 0;
    padding: 0.2em 0.3em 0.2em 0.2em;
    margin: 0.5em 2.2em 0em 0em;
    cursor: pointer;
}

#manageAccounts {
    display: none;
    z-index: 2;
    background-color: #222;
    width: 19em;
    margin-top: -0.5em;
    margin-left: 42.5em;
    border: 0.1em solid #777;
    position: absolute;
    padding-bottom: 3em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#closeManageAccountsDiv {
    cursor: pointer;
    position: absolute;
    top: -1.3em;
    right: 0;
    padding: 5px;
/*    margin-right: 0.3em;*/
}

#showKImage {
    position: absolute;
    margin-top: 0.36em;
}

#addedAccountsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid grey;
    margin-top: 0.8em;
    padding-top: 0.7em;
    font-size: 1em;
}

.accRadioOpt {
/*    border: 1px solid white;*/
    position: relative;
    width: 1em;
    margin-left: 1em;
/*    margin-right: 0.6em;*/
    padding-top: 0.1em;
    display: inline-block;
    vertical-align: middle;
}

.accRadioLabel {
    border: 1px solid ggrey;
    width: 13.6em;
    padding-left: 0.4em;
    font-size: 1.0em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
/*    cursor: pointer;*/
}

.accDetails {
    display: inline;
    position: absolute;
    font-size: 0.7em;
    margin: 0.5em 0em 0em -0.3em;
}

#deleteImage {
    position: absolute;
    padding-top: 0.3em;
/*    margin-left: 1em;*/
    vertical-align: middle;
    cursor: pointer;
}

#plusAccountOptDiv {
    position: absolute;
    margin-top: 0.4em;
    bottom: 0.3em;
    right: 0;
    margin-bottom: -1.2em;
/*    border: 1px solid grey;*/
}

#plusAccount {
/*    visibility: hidden;*/
    margin-right: 7.8em;
    background-color: #000;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0.3em;
    vertical-align: middle;
    cursor: pointer;
}

#persist {
    background-color: #000;
/*    border: 1px solid white;*/
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding: 0.3em 0.3em 0.3em 0.4em;
    cursor: pointer;
}

#addAccountDetailsDiv {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    background-color: #222;
    border: 1px solid grey;
    margin: 0.7em -0.05em 0em -14em;
    padding-top: 1.1em;
    padding-bottom: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#closeAddAccountDetailsDiv {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -1.4em;
    padding: 0.5em;
/*    margin-left: 36.8em;*/
/*    margin-top: -13.2em;*/
}

.addAccountInput {
    font-family: Arial;
}

.addAccountLabels {
/*    border: 1px solid green;*/
    font-size: 1.02em;
/*    display: inline;*/
    width: 6.1em;
    margin-left: 0.8em;
}

.addAccountInput {
    width: 22em;
    height: 1em;
}

#addAccountButton {
    width: 8em;
/*    margin: 0.4em 0em 0.4em 0em;*/
    padding: 0.2em 0em 0.2em 0em;
    cursor: pointer;
}

#debug {
    z-index: 1;
/*    float: right;*/
    text-align: center;
    padding: 2px 0px 0px 5px;
    position: absolute;
    border: 1px dashed grey;
    margin: 1.2em 0em 0em 59em;
    width: 19em;
    height: 3.1em;
    background-color: #333;
    overflow: hidden;
    font-size: 10px;
    line-height: 1.5em;
    cursor: pointer;
}


#endPCategory {
    z-index: 1;
    height: 2.6em;
    margin-left: 0.8em;
    margin-top: .9em;
    position: absolute;
    width: 9.7em;
    background-color: #777;
    color: #DDDDDD;
    border: none;
}

label {
/*    border: 1px dashed yellow;*/
/*    display: inline;*/
/*    margin: 0 auto;*/
/*    margin: 8px;*/
    margin: 0.615em 0.615em 0.615em 1em;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
}

select {
    vertical-align: middle;
    margin: 0.615em;
    padding: 0.45em 0.38em 0.45em 0.38em;
}

input {
    letter-spacing: 0.09em;
    vertical-align: middle;
    margin: 0.615em 0.615em 0.615em 0.6em;
    padding: 0.38em 0.38em 0.38em 0.38em;
    border: none;
}
input::placeholder {
    opacity: 0.6;
}
textarea {
    font-family: Arial;
    letter-spacing: 0.08em;
    vertical-align: middle;
    margin: 0.6em 0.615em 0.615em 0.5em;
    padding: 0.55em 0.38em 0.13em 0.38em;
    resize: none;
    height: 1.5em;
    border: none;
}
textarea::placeholder {
    opacity: 0.6;
}

#endPointLabel {
    width: 5.7em;
    display: inline;
    vertical-align: middle;
    margin-left: 11.3em;
    padding-right: 0.71em;
    font-weight: bold;
    font-size: 14px;
}

#endPoint {
    height: 2.6em;
    display: inline-block;
    background-color: #EEEEEE;
/*    margin-right: 7.7em;*/
    width: 23.5em;
    border: 1px solid grey;
}
/* Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari-specific CSS here */
    #endPoint {
        -webkit-appearance: none;
        min-width: 23.5em; /* Safari-specific width */
    }
}

.request {
    position: relative;
    border: 1px solid #777;
    margin: 0 auto;
    width: 61.5em;
    padding: 0.3em 0em 0.3em 0em;
}

.argLabelInt {
    display: inline-block;
    width: 8.8em;
    word-break: break-all;
}

.argLabel {
    display: inline-block;
    width: 8.9em;
    word-break: break-all;
}

.argDD {
    font-size: 14px;
    display: inline-block;
    width: 9.29em;
/*    height: 1.2em;*/
    font-weight: bold;
    background-color: #EEEEEE;
    clear: both;
  -webkit-clear: both; /* Vendor prefix for Safari */

}

.argInputField {
    display: inline-block;
    width: 47.9em;
    height: 1.5em;
    background-color: #EEEEEE;
}

.argTextArea {
    display: inline-block;
    width: 47.9em;
    height: 1.5em;
    background-color: #EEEEEE;
}
/* Firefox */
@-moz-document url-prefix() {
    #endPoint {
        font-size: 1.05em;
/*        max-width: 10em*/
    }
/*    textarea::placeholder {
        opacity: 0.3;
        font-size: 0.9em;
    }
    input::placeholder {
        opacity: 0.3;
        font-size: 0.9em;
    }
    .argInputField {
        height: 1.5em;
    }
    .argTextArea {
        width: 38.4em;
        height: 1.5em;
    }*/
}

button {
    margin: 0.6em 0.6em 0.6em 0.6em;
    padding: 3px 20px 3px 20px;
    font-weight: bold;
}

#callTimeStamp {
    float: right;
    margin-right: 0.6em;
    margin-top: 1.3em;
}

#epochConverter {
/*    float: right;*/
}

.response {
    margin-top: 5px;
    margin-left: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#responseText {
    padding: 3px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}

#responseSpan {
    padding: 3px;
    vertical-align: top;
}

#specialTxt {
    font-weight: bold;
    color: #EEEEEE;
}

:root {
    --response-labelWidth: 10em;
    --response-detailWidth: 51.7em;
    --response-objDetailDivWidth: 51em;
    --response-objDetailLabelWidth: 10em;
    --response-objDetailDetailWidth: 36.9em;
}
.label  {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
/*    border-right: 1px solid #000;*/
    margin: 0px 0px 5px 0px;
    padding: 10px 5px 10px 5px;
/*    width: 175px;*/
    width: var(--response-labelWidth);
    word-break: break-all;
}

.detail {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    vertical-align: top;
    margin: 0em 0em 0.5em 0em;
    padding: 10px 5px 10px 10px;
    width: var(--response-detailWidth);
    word-break: break-all;
}

.detailDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-bottom: 0.5em;
    width: var(--response-objDetailDivWidth);
    word-break: break-all;
}

.objectLabel {
    vertical-align: top;
/*    width: 11em;*/
    width: var(--response-objDetailLabelWidth);
    word-break: break-all;
    line-height: 1.3em;
    padding: 0.8em 0.3em 0.8em 0.6em;
}

.objectDetail {
    vertical-align: top;
/*    width: 36.9em;*/
    width: var(--response-objDetailDetailWidth);
    word-break: break-all;
    line-height: 1.3em;
    border-left: 1px solid grey;
    padding: 0.8em 0.5em 0.8em 0.3em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}